.header{
  background-color: #A6B1E1;
  height: 15vh;
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin-bottom: 20px;
}

.menu{
  display: flex;
  font-size: 2rem;
  gap: 2rem;
}

.menu a{
  text-decoration: none;
  color: white;
}

/* active 클래스가 적용된 a태그 */
a.active{
  color: #FCE38A;
  font-weight: 800;
}



