div{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 20px;
  text-align: center;
  line-height: 200px;
}

.d1{
  background-color: cornflowerblue;
}

.d2{
  background-color: cyan;

  /* 요소는 숨기지만 공간을 살아있음 */
  /* visibility: hidden; */

  /* 요소와 요소의 공간 모두 사라짐 */
  /* display: none; */

  /* 불투명도 0~1 */
  opacity: 0;
}

.d3{
  background-color: darkkhaki;
}