.d1{
  border: 1px solid red;
  background-color: aqua;
}

.d2{
  color: blue;
  background-color: chocolate;
}

.dd{
  border: 1px solid green;
  background-color: red;
}

.d3{
  color: beige;
}

.d4{
  color: cornflowerblue;
}
