
/* 
    1위 - !important 속성이 붙은 것
    2위 - 인라인 스타일
    3위 - ID 선택자
    4위 - 클래스 선택자
    5위 - 태그선택자
*/




.d1{
  background-color: aqua;
}

div{
  background-color: blueviolet;
}

#ppp{
  background-color: brown;
}
