*{
  box-sizing: border-box;
}

.header{
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

/* Link에 디자인 넣는 거 */
.header a{
  color: white;
  text-decoration: none;
}