@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'NEXON Lv1 Gothic OTF';
}

.container{
  width: 70%;
  margin: 0 auto;
}

/* ----------------------------------------------------------------- */
/* 에러메세지 디자인 */
.error-msg{
  font-size: 0.7rem !important;
  color: red;
  font-style: italic;
}



