.admin_container{
  width: 100%;
  border: 1px solid red;
}

.admin_body{
  display: flex;
}

.side_div{
  width: 20%;
  border: 1px solid black;
}

.content_div{
  width: 80%;
  border: 1px solid black;
}

