<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.book_shop.book.mapper.BookCategoryMapper">

    <!--resultMap : 쿼리 결과 데이터를 자바로 가져올 형태를 구성-->
    <resultMap id="bookCategory" type="BookCategoryDTO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>

        <collection property="bookDTO" ofType="BookDTO">
            <id column="BOOK_CODE" property="bookCode"/>
            <result column="BOOK_NAME" property="bookName"/>
            <result column="BOOK_PRICE" property="bookPrice"/>
            <result column="PUBLISHER" property="publisher"/>
            <result column="BOOK_INFO" property="bookInfo"/>
            <result column="REG_DATE" property="regDate"/>
            <result column="BOOK_STOCK" property="bookStock"/>
            <result column="CATE_CODE" property="cateCode"/>
        </collection>
    </resultMap>

    <select id="selectBookCategoryList" resultMap="bookCategory">
        SELECT
            BOOK_CATEGORY.CATE_CODE
            , CATE_NAME
        FROM BOOK_CATEGORY INNER JOIN BOOK
        ON BOOK.CATE_CODE = BOOK_CATEGORY.CATE_CODE
        ORDER BY CATE_CODE
    </select>

    <!--도서 카테고리 목록 조회-->
    <select id="getBookCategoryList" resultMap="bookCategory">
        SELECT
            CATE_CODE
            , CATE_NAME
        FROM BOOK_CATEGORY
        ORDER BY CATE_CODE
    </select>

    <!--카테고리 등록 쿼리-->
    <insert id="insertCate">
        INSERT INTO BOOK_CATEGORY (
            CATE_NAME
        ) VALUES (
            #{cateName}
        )
    </insert>

    <!--카테고리명 중복 확인 쿼리-->
    <!--조회결과 있음 > 사용불가-->
    <!--조회결과 없음 > 사용가능-->
    <select id="isUsableCateName" resultType="String">
        SELECT CATE_NAME
        FROM BOOK_CATEGORY
        WHERE CATE_NAME = #{cateName}
    </select>

    <!--선택된 카테고리 삭제 쿼리-->
    <delete id="deleteCateInfo">
        DELETE FROM BOOK_CATEGORY
        WHERE CATE_CODE = #{cateCode}
    </delete>




</mapper>































